<main class="text-center space-x-5" role="alert" aria-live="assertive">
	<h1 class="text-4xl">404 ！</h1>
	<p class="text-2xl">似乎来到了一个奇怪的地方</p>
	<p>
		<a href="/" class="text-blue-500 hover:text-blue-700">返回首页</a>
	</p>
</main>
